langchain==0.1.0
openai==1.68.2
litellm==1.68.0
chromadb==0.5.23
appdirs==1.4.4
blinker==1.9.0
json-repair==0.25.2
opentelemetry-api==1.30.0
opentelemetry-sdk==1.30.0
opentelemetry-exporter-otlp-proto-http==1.30.0
json5==0.9.14
pyvis==0.3.1
